<template>
    <li class="gfield col-xs-12" v-if="show">
        <label class="gfield_label col-sm-3" :for="id">{{ labelName }}</label>
        <div class="ginput_container">
            <ul class="gfield_checkbox">
                <li>
                    <div class="ginput_container">
                        <input type="checkbox" :id="id"
                               :checked="value"
                               @change="updateValue($event.target.checked)"/>
                        <slot name="message"></slot>
                        <div v-if="required">
                            <span class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="help" v-if="helperText">{{ helperText }}</p>
        </div>
    </li>
</template>

<script>
    import {required} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-checkbox',
        mixins: [base],
        props: {
            required: {
                type: Boolean,
                default: false
            },
            formSubmission: {
                type: Boolean,
                default: false
            },
            show: {
                type: Boolean,
                default: true
            }
        },
        methods: {
            updateValue(checked) {
                this.$emit('input', checked);
            }
        },
        validations() {
            if (this.required) {
                return {
                    value: {
                        required
                    }
                }
            } else {
                return {
                    value: {
                    }
                }
            }
        }
    }
</script>