<template>
    <li class="gfield col-xs-12" v-if="show">
        <label class="gfield_label col-sm-3">{{ labelName }}</label>
        <div class="ginput_container">
            <ul class="gfield_checkbox">
                <li v-for="(list, index) in checkboxGroup">
                    <div class="ginput_container">
                        <input type="checkbox" :id="'checkbox'+(index+1)"
                               :value="list.value"
                               v-model='selectedItems'
                               @change="updateValue" />
                        <label class="gfield_label" :for="'checkbox'+(index+1)">{{ list.label }}</label>
                    </div>
                    <p class="help" v-if="list.helpText">{{list.helpText}}</p>
                </li>
            </ul>

        </div>
        <span class="form-group__message validation_message" v-if="requiredMessage()">{{ errorMessage }}</span>
    </li>

</template>

<script>
    import {required} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-checkbox-group',
        mixins: [base],
        data() {
            return {
                selectedItems: this.value || []
            }
        },
        props: {
            checkboxGroup: {
                type: Array
            },
            requiredAlertMessage: {
                type: String,
                default: 'The field is required'
            }
        },
        methods: {
            updateValue() {
                this.$emit('input', this.selectedItems);
            }
        },
        validations() {
            return {
                value: {
                    required
                }
            }
        }
    }
</script>