<template>
    <li class="gfield col-xs-12" :class="{error: showErrorClass()}" v-if="show">
        <label :for="id" class="gfield_label col-sm-3">
            {{ labelName }}
        </label>
        <div class="ginput_container">
            <div class="dateOfBirth">
                <input type="tel" :id="id" ref="day" class="txtDobDay" placeholder="DD"
                       :value="value.day"
                       @input="updateValue"
                       v-mask="{mask: '99', placeholder: ' ', autoUnmask: true, showMaskOnHover: false, showMaskOnFocus: false}"
                       v-tabindex:0.month="{ maxlength: 2, next: 'month'}" /> /
                <input type="tel" id="month" class="txtDobMonth" placeholder="MM"
                       ref="month"
                       :value="value.month"
                       @input="updateValue"
                       v-mask="{mask: '99', placeholder: ' ', autoUnmask: true, showMaskOnHover: false, showMaskOnFocus: false}"
                       v-tabindex:1.year="{ maxlength: 2, next: 'year'}" /> /
                <input type="tel" id="year" class="txtDobYear" placeholder="YYYY"
                       ref="year"
                       :value="value.year"
                       @input="updateValue"
                       v-mask="{mask: '9999', placeholder: ' ', autoUnmask: true, showMaskOnHover: false, showMaskOnFocus: false}"
                       v-tabindex:2="{ maxlength: 4}" />
            </div>
            <span class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>
            <slot name="help"></slot>
        </div>
    </li>
</template>

<script>
    import base from './mixins/base';
    import {isOverAge, isInvalid} from './mixins/form-validation/customvalidation';
    import {tabIndex} from '../../directives/tabindex';

   export default {
       name: 'bolt-dob',
       mixins: [base],
       data() {
           return {
           }
       },
       directives: {
           tabindex: tabIndex
       },
       methods: {
           updateValue(event) {
               if (this.required) {
                   this.$v.value.$touch();
               }
               this.$emit('input', {
                   day: this.$refs.day.value,
                   month: this.$refs.month.value,
                   year: this.$refs.year.value
               });
           },
           showErrorClass() {
               if (this.required) {
                   return !this.$v.value.isOverAge && !this.$v.value.day.$invalid && !this.$v.value.month.$invalid && !this.$v.value.year.$invalid || this.$v.value.$invalid && this.formSubmission;
               } else {
                   return false;
               }
           },
           requiredMessage() {
               if (this.required) {
                   return !this.$v.value.isOverAge && !this.$v.value.day.$invalid && !this.$v.value.month.$invalid && !this.$v.value.year.$invalid || this.$v.value.$invalid && this.formSubmission;
               } else {
                   return false;
               }
           }
       },
       validations() {
           if (this.required) {
               return {
                   value: {
                       isOverAge,
                       isInvalid,
                       day: {
                           required
                       },
                       month: {
                           required
                       },
                       year: {
                           required
                       }
                   }
               }
           }
       }
   }
</script>