<template>
    <div>
        <li class="gfield col-xs-12" :class="{ 'error': showErrorClass()}" v-if="show">
            <label class="gfield_label col-sm-3" :for="id">{{ labelName }}</label>
            <div class="ginput_container">
                <input :type="inputType"
                       :id="id"
                       :placeholder="placeholder"
                       :value="value"
                       @input="updateValue($event.target.value)"
                       v-clearinput />
                <span id="emailRequiredMessage" class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>
                <span class="form-group__message validation_message" v-if="invalidMessage()">{{ invalidAlertMessage }}</span>
            </div>
        </li>

        <li class="gfield col-xs-12" :class="{ 'error': $v.confirmpassword.$error || !$v.confirmpassword.required && formSubmission}">
            <label class="gfield_label col-sm-3" for="txtConfirmPassword">Confirm password*</label>
            <div class="ginput_container">
                <input type="password" v-model="confirmpassword" id="txtConfirmPassword" placeholder="Confirm password"
                       @input="$v.confirmpassword.$touch()"
                       v-clearinput />
                <span class="form-group__message validation_message" v-if="confirmMessage()">Passwords do not match</span>
            </div>
        </li>
    </div>
</template>

<script>
    import {required, minLength, sameAs} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-input-password',
        mixins: [base],
        data() {
            return {
                confirmpassword: ''
            }
        },
        props: {
            minlength: {
                type: Number,
                default: 6
            }
        },
        computed: {
            invalidAlertMessage() {
                if (!this.$v.value.minLength) {
                    return `${this.placeholder} must have at least ${this.minlength} characters.`;
                }
            }
        },
        methods: {
            invalidMessage() {
                return !this.$v.value.minLength && this.formSubmission;
            },
            confirmMessage() {
              return !this.$v.confirmpassword.sameAsPassword && this.$v.confirmpassword.$dirty || !this.$v.confirmpassword.required && this.formSubmission;
            }
        },
        validations() {
            return {
                value:           {
                    required,
                    minLength: minLength(this.minlength)
                },
                confirmpassword: {
                    required,
                    sameAsPassword: sameAs('value')
                }
            }
        }
    }
</script>