<template>
    <li class="gfield col-xs-12" :class="{ 'error': showErrorClass()}" v-if="show">
        <label class="gfield_label col-sm-3" :for="id">{{ labelName }}</label>
        <div class="ginput_container">
            <div class="select">
                <select :id="id" :value="value" @input="updateValue($event.target.value)">
                    <option v-for="option in options" :value="option[optionValue]">
                        {{ option[optionLabel] }}
                    </option>
                </select>
            </div>
            <span class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>
        </div>
    </li>
</template>

<script>
    import {required} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-select',
        mixins: [base],
        data() {
            return {
            }
        },
        props: {
            options: {
                type: Array
            },
            optionLabel: {
                type: String,
                default: 'label'
            },
            optionValue: {
                type: String,
                default: 'value'
            }
        },
        methods: {
        },
        validations() {
            if (this.required) {
                return {
                    value: {
                        required
                    }
                }
            } else {
                return {
                    value: {
                    }
                }
            }
        }
    }
</script>