<template>
    <li class="gfield col-xs-12" v-if="show">
        <label class="gfield_label col-sm-3">{{ labelName }}</label>
        <div class="ginput_container">
            <ul class="gfield_checkbox">
                <li class="checkboxSwitch">
                    <div class="ginput_container">
                        <input type="checkbox" :id="id"
                               :value="value"
                               :checked="value"
                               @change="updateValue($event.target.checked)" />
                        <div class="slider"></div>
                        <label class="gfield_label" :for="id"></label>
                        <div v-if="required">
                            <span class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</template>

<script>
    import {required} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-switch',
        mixins: [base],
        data() {
            return {
            }
        },
        props: {
            value: {
                type: Boolean
            }
        },
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        },
        validations() {
            if (this.required) {
                return {
                    value: {
                        required
                    }
                }
            }
        }
    }
</script>