<template>
    <li class="gfield col-xs-12" :class="{ 'error': showErrorClass()}" v-if="show">
        <label class="gfield_label col-sm-3">{{ labelName }}</label>
        <div class="ginput_container">
            <textarea :id="id"
                      :placeholder="placeholder"
                      :value="value"
                      @focus="removeError"
                      @input="updateValue($event.target.value)"></textarea>

            <span class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>

            <p class="help">{{ helperText }}</p>
        </div>
    </li>
</template>

<script>
    import {required} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-textarea',
        mixins: [base],
        validations() {
            if (this.required) {
                return {
                    value: {
                        required
                    }
                }
            } else {
                return {
                    value: {
                    }
                }
            }
        }
    }
</script>