<template>
    <li class="gfield col-xs-12" :class="{ 'error': showErrorClass()}" v-if="show">
        <label class="gfield_label col-sm-3">{{ labelName }}</label>
        <div class="ginput_container">
            <froala :tag="'textarea'"
                    :config="config"
                    v-model="bindingValue"
                    @input="updateValue($event.target.value)"
                    @focus="removeError"></froala>
            <span class="form-group__message validation_message" v-if="requiredMessage()">{{ requiredAlertMessage }}</span>

            <p class="help">{{ helperText }}</p>
        </div>
    </li>
</template>

<script>
    import {required} from 'vuelidate/lib/validators';
    import base from './mixins/base';

    export default {
        name: 'bolt-wysiwyg',
        mixins: [base],
        data() {
            return {
                content: ''
            }
        },
        props: {
            heightMin: {
              type: Number,
              default: 200
            },
            heightMax: {
                type: Number,
                default: 600
            },
            config: {
                type: Object,
                default() {
                    return {
                        key: 'dRc2Re1MKI1AKUBWBOR==',
                        heightMin: this.heightMin,
                        heightMax: this.heightMax,
                        toolbarStickyOffset: 50,
                        inlineStyles: {
                            'Big Red': 'font-size: 20px; color: red;',
                            'Medium Green': 'font-size: 16px; color: green;',
                            'Small Blue': 'font-size: 14px; color: blue;'
                        },
                        toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript',
                            'superscript', '|', 'inlineStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL',
                            'outdent', 'indent', '-', 'insertLink', 'insertTable', '|', 'specialCharacters', 'insertHR', 'selectAll',
                            'clearFormatting', '|', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'
                        ]
                    }
                }
            },
        },
        computed: {
            bindingValue: {
                get() {
                    if (this.value !== null || this.value !== undefined) {
                        this.content = this.value;
                    } else {
                        this.content = '';
                    }
                    return this.content;
                },
                set(value) {
                    this.content = value;
                }
            }
        },
        methods: {
            updateValue(event) {
                if (this.required) {
                    this.$v.value.$touch();
                }

                this.$emit('input', this.content);
            },
            removeError(event) {
                this.$emit('removeError', event);
            }
        },
        validations() {
            if (this.required) {
                return {
                    value: {
                        required
                    }
                }
            } else {
                return {
                    value: {
                    }
                }
            }
        }
    }
</script>